
body{
margin: 0;
padding: 0;
font-family: 'DM Sans', sans-serif;
background: #f8f6f6;
}

header{
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    width: 100%;
    height: 334px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.header_name{
    display: flex;
    justify-content: center;
    padding: 40px 0px 0px 0px;
    text-align: center;
}
.header_title{
    color: #F7931A;
    font-weight: bold;
    font-size: 24px;

    
   
}

.header_img{
    width: 50px;
    height: 50px;
}
.header_subtitulo{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0px 40px 0px 40px;
    text-align: center;
    font-size: 24px;
    color: #FFFFFF;


   
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 0em;

}

.header_tercer_titulo{
    display: flex;
    justify-content: center;
    text-align: center;
padding: 0 20px 0 20px;
color: #FFE9D4;
}


    
.header_opciones{
width: 229px;
height: 50px;
background-color: brown;
position: relative;
top: 5px;
justify-self: center;
border-radius: 4px;
background: #FAF8F7;
box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.header_opciones p {
    text-align: center;
font-weight: bold;
font-size: 14px;
line-height: 18px;
text-align: center;
}

/* inicia main */

.main_imgbitcoin{
    padding: 40px 100px 0px;
}

.main_titulo1{
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    padding: 0px 25px;
}

.main_subtitulo{
    color: #757575;
    text-align: center;
    padding: 0px 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;


}

.main_content_monedas{
    

    display: grid;
    grid-template-columns: repeat(2, 101px);
    grid-template-rows: repeat(5, 39px);
    grid-column-gap: 5px;
    grid-row-gap: 1px;
        margin: 0 10px 0 10px;
        margin: 10px 40px 0 100px;
        
}

.main_content_monedas div{
    color: #B5B0AC;
    background-color: #FFFFFF;
    padding: 10px 20px;
    font-weight: 500;

}
.main_content_monedas div:first-child{
    color: #FF9536;
    font-size: 18px;
    font-weight: bold;
    background: #f8f6f6;

}

#main_monedas_titulo{
    background: #f8f6f6;
}

.main_monedas_bottom{
    width: 250px;
    height: 20px;
text-align: center;
color: #282623;
font-weight: 700;
background: #FFE9D4;
border-radius: 8px;
font-size: 16px;
margin:10px auto ;

}
span{
    font-weight: 500;

}
.main_monedas_bottom p {
}